<% provide(:title, "About") %>
<h1>About CS232</h1>
<p>Learn to develop data driven web applications using Ruby on Rails. 
The course covers all of the core aspects of the framework including Activerecord, 
ERB, Rails Controller classes, Action Mailer, and application testing.</p>
