<% provide(:title, "Links") %>
<h1>Links for CS232</h1>
<ul>
  <li><a href="insight.ccsf.edu">Insight</a></li>
  <li><a href="railstutorial.org">Rails Tutorial</a></li>
  <li><a href="github.com">Github</a></li>
</ul>
