<h1>An Achievement Reminiscent of the Transcontinental RAILroad</h1>
<p>I really liked the way this class structured assignments around the online textbook. It really
motivated me to work my way through the chapters. I definitely need to go back through the chapters
I skimmed, though. I feel that by remaking the sample app most of the complex concepts will
solidify themselves in my head. Overall, I am very happy with my new skills in Ruby on Rails
and will certainly hope to use it again in the future for work or personal projects.</p>
